---
import '../style/styles.css';
import github from '@/images/github-light-logo.png';
import linkedin from '@/images/linkedIn-light-logo.png';
import codepen from '@/images/codepen-light-logo.png';
import G2i from '@/components/icons/G2i.astro';
import { Image } from 'astro:assets';

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
const currentYear = new Date(Date.now()).getFullYear();
---

<!doctype html>
<html lang="en" class="theme-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Patrick A. Alcisto" />
    <meta
      name="description"
      content="Senior UI Developer passionate about crafting excellent user experiences on the web and mobile."
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="bg-light-black text-neutral-200">
    <slot />

    <footer class="flex flex-col items-center bg-sherpa-blue mt-12 pb-12">
      <div class="mountains h-[169px]"></div>
      <ul id="socials" class="flex gap-x-10 mt-6 list-none">
        <li>
          <a href="https://github.com/palcisto">
            <Image src={github} alt="Github" width="64" height="64" />
            <span class="sr-only">Github</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/patrickalcisto/">
            <Image src={linkedin} alt="LinkedIn" width="64" height="64" />
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="https://codepen.io/palcisto">
            <Image src={codepen} alt="Codepen" width="64" height="64" />
            <span class="sr-only">Codepen</span>
          </a>
        </li>
        <li>
          <a
            href="https://portal.g2i.co/developer/Patrick-Alcisto/22c9f395-29f8-4820-b737-1e83dfce07a0"
          >
            <G2i classes="h-16 w-16" />
            <span class="sr-only">G2i</span>
          </a>
        </li>
      </ul>
      <p class="text-lg mt-16">&copy;{currentYear} Patrick A. Alcisto</p>
    </footer>
  </body>
</html>

<style is:global>
  :root {
    /* CSS HEX */
    --grape: #642ca9ff;
    --pale-dogwood: #f4d6ccff;
    --hunyadi-yellow: #f4b860ff;
    --bittersweet-shimmer: #c83e4dff;
    --teal: #1f7a8cff;

    /* CSS HSL */
    --grape: hsla(267, 59%, 42%, 1);
    --pale-dogwood: hsla(15, 65%, 88%, 1);
    --hunyadi-yellow: hsla(36, 87%, 67%, 1);
    --bittersweet-shimmer: hsla(353, 56%, 51%, 1);
    --teal: hsla(190, 64%, 34%, 1);
    --light-black: hsl(0 0% 15% / 1);
    --light-black-base: 0 0% 15%;
    --crimson-base: 3 82% 51%;
    --crimson: hsl(3 82% 51% / 1);
    --zest-base: 28 82% 51%;
    --zest: hsl(28 82% 51% / 1);
    --sherpa-blue-base: 185 98% 18%;
    --sherpa-blue: hsl(185 98% 18% / 1);

    /* CSS Gradient */
    --gradient-top: linear-gradient(
      0deg,
      #642ca9ff,
      #f4d6ccff,
      #f4b860ff,
      #c83e4dff,
      #1f7a8cff
    );
    --gradient-right: linear-gradient(
      90deg,
      #642ca9ff,
      #f4d6ccff,
      #f4b860ff,
      #c83e4dff,
      #1f7a8cff
    );
    --gradient-bottom: linear-gradient(
      180deg,
      #642ca9ff,
      #f4d6ccff,
      #f4b860ff,
      #c83e4dff,
      #1f7a8cff
    );
    --gradient-left: linear-gradient(
      270deg,
      #642ca9ff,
      #f4d6ccff,
      #f4b860ff,
      #c83e4dff,
      #1f7a8cff
    );
    --gradient-top-right: linear-gradient(
      45deg,
      #642ca9ff,
      #f4d6ccff,
      #f4b860ff,
      #c83e4dff,
      #1f7a8cff
    );
    --gradient-bottom-right: linear-gradient(
      135deg,
      #642ca9ff,
      #f4d6ccff,
      #f4b860ff,
      #c83e4dff,
      #1f7a8cff
    );
    --gradient-top-left: linear-gradient(
      225deg,
      #642ca9ff,
      #f4d6ccff,
      #f4b860ff,
      #c83e4dff,
      #1f7a8cff
    );
    --gradient-bottom-left: linear-gradient(
      315deg,
      #642ca9ff,
      #f4d6ccff,
      #f4b860ff,
      #c83e4dff,
      #1f7a8cff
    );
    --gradient-radial: radial-gradient(
      #642ca9ff,
      #f4d6ccff,
      #f4b860ff,
      #c83e4dff,
      #1f7a8cff
    );
  }
</style>
