---
import '../style/styles.css';
import github from '@/images/github-light-logo.png';
import linkedin from '@/images/linkedIn-light-logo.png';
import codepen from '@/images/codepen-light-logo.png';
import G2i from '@/components/icons/G2i.astro';
import { Image } from 'astro:assets';

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
const currentYear = new Date(Date.now()).getFullYear();
---

<!doctype html>
<html lang="en" class="bg-sherpa-blue">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Patrick A. Alcisto" />
    <meta
      name="description"
      content="Senior UI Developer passionate about crafting excellent user experiences on the web and mobile."
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="grid grid-rows-[1fr] text-neutral-200">
    <div class="grid page-wrapper-grid bg-light-black">
      <slot />

      <footer
        class="flex flex-col items-center bg-sherpa-blue mt-12 pb-12 px-6"
      >
        <div class="mountains h-[169px]"></div>
        <ul
          id="socials"
          class="grid grid-cols-[repeat(4,_64px)] w-full max-w-[345px] mt-6 list-none justify-between"
        >
          <li>
            <a href="https://github.com/palcisto">
              <Image src={github} alt="Github" width="64" height="64" />
              <span class="sr-only">Github</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/patrickalcisto/">
              <Image src={linkedin} alt="LinkedIn" width="64" height="64" />
              <span class="sr-only">LinkedIn</span>
            </a>
          </li>
          <li>
            <a href="https://codepen.io/palcisto">
              <Image src={codepen} alt="Codepen" width="64" height="64" />
              <span class="sr-only">Codepen</span>
            </a>
          </li>
          <li>
            <a
              href="https://portal.g2i.co/developer/Patrick-Alcisto/22c9f395-29f8-4820-b737-1e83dfce07a0"
            >
              <G2i classes="aspect-square h-auto w-full max-w-16" />
              <span class="sr-only">G2i</span>
            </a>
          </li>
        </ul>
        <p class="text-lg mt-16">&copy;{currentYear} Patrick A. Alcisto</p>
      </footer>
    </div>
  </body>
</html>

<style is:global>
  :root {
    /* CSS HEX */
    --grape: #642ca9ff;
    --pale-dogwood: #f4d6ccff;
    --hunyadi-yellow: #f4b860ff;
    --bittersweet-shimmer: #c83e4dff;
    --teal: #1f7a8cff;

    /* CSS HSL */
    --grape: hsla(267, 59%, 42%, 1);
    --pale-dogwood: hsla(15, 65%, 88%, 1);
    --hunyadi-yellow: hsla(36, 87%, 67%, 1);
    --bittersweet-shimmer: hsla(353, 56%, 51%, 1);
    --teal: hsla(190, 64%, 34%, 1);
    --light-black: hsl(0 0% 15% / 1);
    --light-black-base: 0 0% 15%;
    --crimson-base: 3 82% 51%;
    --crimson: hsl(3 82% 51% / 1);
    --zest-base: 28 82% 51%;
    --zest: hsl(28 82% 51% / 1);
    --sherpa-blue-base: 185 98% 18%;
    --sherpa-blue: hsl(185 98% 18% / 1);
  }

  .page-wrapper-grid {
    grid-template-rows: 327px minmax(220px, 1fr) 400px;
  }
</style>
